<% wool_array.forEach(function(wool) { %>
	<div class="article">
		<div><%= wool.brand %></div>
		<div><%= wool.colour %></div>
		<div><%= wool.length %></div>
		<div><%= wool.price %></div>
		<div><%= wool.amount %></div>
		<img src='<%= wool.link %>' alt='Bol wol van de <%=wool.brand %>'/>
	</div>
<% }) %>