<!DOCTYPE html>
	<head>
		<title>Mo haken</title>
		<link href="/css/framework.css" rel="stylesheet"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/js/woolmanagment.js" type="text/javascript"></script>
	</head>
	<body>
		<nav>
			<h1>Header goes here</h1>
			<a href="/html/test">Test</a>
			<a href="/html/anothertest">Test</a>
		</nav>

		<body>
			<h1>Body goes here</h1>
			<% wool_array.forEach(function(wool) { %>
				<div class="article">
					<div><%= wool.brand %></div>
					<div><%= wool.colour %></div>
					<div><%= wool.length %></div>
					<div><%= wool.price %></div>
					<div><%= wool.amount %></div>
					<img src='<%= wool.link %>' alt='Bol wol van de <%=wool.brand %>'/>
				</div>
			<% }) %>
		</body>

		<footer>
			<h1>Footer goes here</h1>
		</footer>
	</body>
</html>

